<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="content">
            <h1>Новый блог</h1>
            <form action="/api/blogs/new" method="POST" class="blog" enctype="multipart/form-data">
                <input type="text" placeholder="Введите заголовок блога" name="title">
                <label for="">Выберите категорию:</label>
                <select name="category" id="">
                    <%
                        categories.forEach(category => {
                    %>
                        <option value="<%=category._id%>"><%=category.name%></option>
                    <%
                        })
                    %>
                </select>
                <div class="file-input">
                    <input type="file" name="image">
                    <a href="">Выберите картинку</a>
                </div>
                <input type="text" style="padding-bottom:80px;" placeholder ="Введите описание блога" name="description">
                <button>
                    <a type="submit">Создать</a>
                </button>
            </form>
        </div>
    </div>
    
    <%- include('partials/scripts.ejs') %>
</body>
</html>